div.app-local-to-global{
  --dark_background_color: var(--dark_background_color);
  --dark_foreground_color: var(--dark_foreground_color);
  --dark_stroke_color: var(--dark_stroke_color);
  --dark_point_local_color: var(--dark_point_local_color);
  --light_stroke_color: var(--light_stroke_color);
  --light_point_local_color: var(--light_point_local_color);
  --light_background_color: var(--light_background_color);
  --light_foreground_color: var(--light_foreground_color);
}


@media (prefers-color-scheme: dark) {
  div.app-local-to-global{
    background-color: var(--dark_background_color);
  }
  div.app-local-to-global p{
    color: var(--dark_foreground_color);
  }
  div.app-local-to-global svg g.all_triangles polygon.d3_triangle{
    stroke: var(--dark_stroke_color);
  }
  div.app-local-to-global svg g.all_pts circle{
    fill: var(--dark_background_color);
    stroke: var(--dark_stroke_color);
  }
  div.app-local-to-global svg g.all_pts text{
    fill: var(--dark_foreground_color);
  }
  div.app-local-to-global svg g.all_pts g.d3_point[data-indexing="global"] circle{
    fill: var(--dark_background_color);
  }
  div.app-local-to-global svg g.all_pts g.d3_point[data-indexing="local"] circle{
    fill: var(--dark_point_local_color);
  }
}

@media (prefers-color-scheme: light) {
  div.app-local-to-global p{
    color: var(--light_foreground_color);
  }
  div.app-local-to-global p{
    color: var(--light_foreground_color);
  }
  div.app-local-to-global svg g.all_triangles polygon.d3_triangle{
    stroke: var(--light_stroke_color);
  }
  div.app-local-to-global svg g.all_pts circle{
    fill: var(--light_background_color);
    stroke: var(--light_stroke_color);
  }
  div.app-local-to-global svg g.all_pts text{
    fill: var(--light_foreground_color);
  }
  div.app-local-to-global svg g.all_pts g.d3_point[data-indexing="global"] circle{
    fill: var(--light_background_color);
  }
  div.app-local-to-global svg g.all_pts g.d3_point[data-indexing="global"] text{
    fill: var(--light_point_txt_color);
  }
  div.app-local-to-global svg g.all_pts g.d3_point[data-indexing="local"] circle{
    fill: var(--light_point_local_color);
  }
  div.app-local-to-global svg g.all_pts g.d3_point[data-indexing="local"] text{
    fill: var(--light_point_local_txt_color);
  }
}