.proof {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Titles */
div.proof div.proof-title {
  background-color: #9fb1b4;
  border: 1px solid #86989b;
  color: white;
  font-size: 120%;
  }

/* Content */
div.proof div.proof-content {
  border: 1px solid #9fb1b4;
  background-color: #F5F7F9;
  padding: 0em 1em;
}

/* Toggle proof */
div.proof-type-proof > div.proof-title {
  display: block;
  clear: both;
  cursor:pointer;
}


div.proof > div.proof-title:before {
    content: "\00a0";
}

div.proof-type-proof > div.proof-title:after {
 content: " ▲";
}

div.proof-type-proof > div.proof-title.open:after {
  content: " ▼" ;
}

/* Specific Colors */
/*=================*/

  div.proof.proof-type-definition div.proof-title {
    background-color: darkblue;
    border: 1px solid darkblue;
    }
  div.proof.proof-type-definition div.proof-content {
    border: 1px solid darkblue;
  }

  div.proof.proof-type-theorem div.proof-title {
    background-color: #cd0930;
    border: 1px solid #cd0930;
    }
  div.proof.proof-type-theorem div.proof-content {

    border: 1px solid #cd0930;
  }
  div.proof.proof-type-proposition div.proof-title {
    background-color: #C36900;
    border: 1px solid #C36900;
    }
  div.proof.proof-type-proposition div.proof-content {

    border: 1px solid #C36900;
  }
  div.proof.proof-type-corollary div.proof-title {
    background-color: #366a36;
    border: 1px solid #366a36;
    }
  div.proof.proof-type-corollary div.proof-content {
    border: 1px solid #366a36;
  }
  div.proof.proof-type-lemma div.proof-title {
    background-color: #c2008a;
    border: 1px solid #c2008a;
    }
  div.proof.proof-type-lemma div.proof-content {
    border: 1px solid #c2008a;
  }
  div.proof.proof-type-remark div.proof-title {
    background-color: #209cee;
    border: 1px solid  #209cee;
    }
  div.proof.proof-type-remark div.proof-content {
    border: 1px solid  #209cee;
  }
  div.proof.proof-type-exercise div.proof-title {
    background-color: #fc7b03;
    border: 1px solid  #fc7b03;
    }
  div.proof.proof-type-exercise div.proof-content {
    border: 1px solid  #fc7b03;
  }
  
  .proof.proof-type-remark > .proof-title:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\00a0\f05a";
  }
  
  .proof.proof-type-exercise > .proof-title:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\00a0\f19d";
  }
  

/* Light mode (either through system choice or browser)*/
@media(prefers-color-scheme: light) {
  body:not([data-theme="dark"])
  div.proof div.proof-content {
    background-color: var(--color-background-secondary);
  }
  body:not([data-theme="dark"])
  div.proof.proof-type-definition div.proof-content {
    background-color: #f5f5ff;
  }
  body:not([data-theme="dark"])
  div.proof.proof-type-theorem div.proof-content {
    background-color: #fff0f3;
  }
  body:not([data-theme="dark"])
  div.proof.proof-type-proposition div.proof-content {
    background-color: #fcf4e8;
  }
  body:not([data-theme="dark"])
  div.proof.proof-type-corollary div.proof-content {
    background-color: #f2f6f2;
  }  
  body:not([data-theme="dark"])
  div.proof.proof-type-lemma div.proof-content {
    background-color: #f0e7ed;
  }
  body:not([data-theme="dark"])
  div.proof.proof-type-remark div.proof-content {
    background-color: #f6fbfe;
  }
  body:not([data-theme="dark"])
  div.proof.proof-type-exercise div.proof-content {
    background-color: #fff7f0;
  }
}

body[data-theme="light"]
div.proof div.proof-content {
  background-color: var(--color-background-secondary);
}
body[data-theme="light"]
div.proof.proof-type-definition div.proof-content {
  background-color: #f5f5ff;
}
body[data-theme="light"]
div.proof.proof-type-theorem div.proof-content {
  background-color: #fff0f3;
}
body[data-theme="light"]
div.proof.proof-type-proposition div.proof-content {
  background-color: #fcf4e8;
}
body[data-theme="light"]
div.proof.proof-type-corollary div.proof-content {
  background-color: #f2f6f2;
}  
body[data-theme="light"]
div.proof.proof-type-lemma div.proof-content {
  background-color: #f0e7ed;
}
body[data-theme="light"]
div.proof.proof-type-remark div.proof-content {
  background-color: #f6fbfe;
}
body[data-theme="light"]
div.proof.proof-type-exercise div.proof-content {
  background-color: #fff7f0;
}


/* Dark mode */

body[data-theme="dark"] div.proof div.proof-content {
  background-color: var(--color-background-secondary);
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme="light"])
  div.proof div.proof-content {
    background-color: var(--color-background-secondary);
  }
}
