div.app-weak-formulation{
  margin:auto;
  width: max-content;
}

div.app-weak-formulation svg{
  max-width:300px;
  margin:auto;
  display:block;
}

div.app-weak-formulation table.pde{
  margin:auto;
  border-left: solid red 5px;
}

div.app-weak-formulation table.pde tr td{
  text-align:center;
}
div.app-weak-formulation table.pde tr td.first_row{
  display: inline-block;
  width:70px;
}
div.app-weak-formulation table.pde tr td.first_row.mass{
  background-color : lightblue;
}
div.app-weak-formulation table.pde tr td.first_row.rigidity{
  background-color : lightcoral;
}
div.app-weak-formulation table.pde tr td.first_row.rhs{
  background-color : lightsteelblue;
}
div.app-weak-formulation table.pde tr.bc td:first-child{
  text-align:right;
}


div.app-weak-formulation  div#result{
  margin:auto;
  width: max-content;
}

div.app-weak-formulation p#weak-formulation{
  margin:auto;
  width: max-content;
  border-left: solid blue 5px;
  padding:5px;
}

div.app-weak-formulation p#linear-system{
  margin:auto;
  width: max-content;
  padding:10px;
  border:solid 1px black;
}
  